body {
    background-image: url('images/LakeView.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    
}
main {
    
}
h1 {
    font-family: 'Merriweather', cursive;
    font-size: 200;
    color: antiquewhite;
}